<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Custom Query | | Login Functionality Project</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body style="background-color:thistle ;">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="https://www.vectorlogo.zone/logos/java/java-icon.svg" width="30" height="30"
                class="d-inline-block align-top" alt="">
            Registration Login Portal
        </a>
    </nav>
    <div class="container col-md-6 mt-5 shadow p-3 mb-5 bg-white rounded">
        <form th:action="@{/query}" method="get">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Name" th:name="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Profession</label>
                    <input type="text" class="form-control" id="proffession" placeholder="Profession"
                        th:name="profession">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAddress">Mobile Number</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Don't enter Country Code"
                        th:name="mobileNumber">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputAddress2">Age</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Age" th:name="age">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

</body>

</html>