<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Sign Up | | Login Functionality Project</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body style="background-color:burlywood">
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="/">
			<img src="https://www.vectorlogo.zone/logos/java/java-icon.svg" width="30" height="30"
				class="d-inline-block align-top" alt="">
			Registration Login Portal
		</a>
	</nav>
	<div class="container text-center">
		<div style="margin:5vh">
			<h1>User Registration - Sign Up</h1>
		</div>
		<div class="container"
			style="border: 0px solid; padding:5px; margin-top:10vh; width:600px; box-shadow: 5px; background-color: aliceblue; border-radius: 5px; border-color: cadetblue;">
			<form th:action="@{/process_register}" th:object="${user}" method="post"
				style="max-width: 600px; margin: 15vh auto;">
				<div class="m-3">
					<div class="form-group row">
						<label class="col-4 col-form-label">E-mail: </label>
						<div class="col-8">
							<input type="email" th:field="*{email}" class="form-control" required />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-4 col-form-label">Password: </label>
						<div class="col-8">
							<input type="password" th:field="*{password}" class="form-control" required minlength="6"
								maxlength="10" />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-4 col-form-label">First Name: </label>
						<div class="col-8">
							<input type="text" th:field="*{firstName}" class="form-control" required minlength="2"
								maxlength="20" />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-4 col-form-label">Last Name: </label>
						<div class="col-8">
							<input type="text" th:field="*{lastName}" class="form-control" required minlength="2"
								maxlength="20" />
						</div>
					</div>

					<div>
						<button type="submit" class="btn btn-primary">Sign Up</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>